In [2]:
from snowflake.sqlalchemy import URL
from sqlalchemy import create_engine
import pandas as pd

In [4]:
engine = create_engine(URL(
    user='baopham',
    password='Ngoc738218',
    account='gz74928.west-europe.azure',
    warehouse='COMPUTE_BAO',
    database='WILDWEST_9',
    schema='PROCESSED'
))

query = "select * from final_table"
df = pd.read_sql(query, engine)
df.head(5)

,con_cst,con_timestamp,term_st,term_cntry,type,bill_num,org_num,term_num,local_sw_id,rev_amt,rev_total_sec
0,12,1999-01-12 13:30:38,ME,,business,8084310210,8084310210,2078760210,73,13.85,1.414141e+121
1,16,1999-01-01 18:05:22,AZ,,business,2135510097,2135510097,2506780097,74,6.12,3.030303e+121
2,15,1999-01-01 17:53:43,WV,,business,4085390342,4085390342,3047530342,46,8.33,5.959596e+121
3,12,1999-01-12 13:13:12,ME,,business,5093510378,5093510378,2078900378,36,13.85,1.414141e+121
4,06,1999-01-01 08:08:09,,DE,business,4156810290,4156810290,9792580290,45,7.06,9.191919e+121

In [8]:

df['term_st'] = df['term_st'].str.strip()
df['term_cntry'] = df['term_cntry'].str.strip()


total_revenue_state = df[df['term_st'].str.len() == 2]['rev_amt'].sum()

# Calculate the total revenue for rows where TERM_ST is not exactly two characters (revenue attributed to TERM_CNTRY)
total_revenue_country = df[df['term_st'].str.len() != 2]['rev_amt'].sum()

# Output the results
print(f"Total Revenue for State: ${total_revenue_state:,.2f}")
print(f"Total Revenue for Country: ${total_revenue_country:,.2f}")

Total Revenue for State: $1,983,780.69
Total Revenue for Country: $5,185,649.22